body {
  background: pink
}
h1 {
  text-align: center;
}
.caixa1 {
position: relative;
background-color: aquamarine;
width: 100%;
height: 200px;
color: cadetblue;
left: 35%;
}
.MenuPrincipal {
position: relative;
background-color: rgb(116, 9, 110);
width: 100%;
height: 40px;
top: 0pt;
left: 0;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: 0;
}
li {
  float: left;
}
li a {
  display: block;
  color:rgb(41, 212, 212);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}
li a:hover{
  background: rgb(255, 255, 255);
  color: rgb(71, 250, 0);
}
.imgEstudo {
    position: relative;
    width: 300px;
    height: 100px;
    background: ;
    top: 0px;
    border: 100px;
    border-color: rgb(255, 0, 234);
    
}
#guaxinim {
  position: absolute;
width: 500px;
left: 420px;
}