body {
  background: pink
}
h1 {
  text-align: center;
}
.caixa1 {
position: relative;
background-color: aquamarine;
width: 100%;
height: 200px;
color: cadetblue;
left: 35%;
}
.MenuPrincipal {
position: relative;
background-color: chartreuse;
width: 100%;





}